.stories div{
	/*background-image:url(~~~~~~~~~~~)*/
	background-repeat:center;
	background-attachment:center;
	background-position:fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
	width:100%;
	/*height:~~~~~~~~~~~~*/
	text-align:center;
	font-family:'Open sans',Helvetica,Arial,sans-serif;
}

.title {
	
}

.tldr {
	
}

#story1 {
	background-image:url('https://ununsplash.imgix.net/photo-1415226620463-aedee27159c5?q=75&fm=jpg&s=a455a083c2fcff54c2127af43cdcacc5');
}

#story2 {
	background-image:url('http://timedotcom.files.wordpress.com/2014/09/hong-kong-protests-6.jpg?w=1680');
}

#story3 {
	/*background-image:url(~~~~~~~~~~~);*/
}

#story4 {
	/*background-image:url(~~~~~~~~~~~);*/
}

#story5 {
	/*background-image:url(~~~~~~~~~~~);*/
}

#story6 {
	/*background-image:url(~~~~~~~~~~~);*/
}

.menubar {
	position:fixed;
	top:0px;
	height: 30px;
	width:100%;
	background-color:black;
}
.footer {
	position:fixed;
	bottom:0px;
	height:80px;
	width:100%;
	background-color:black;

}
.nav {
	display:inline;
	position:fixed;
	bottom:10px;
	left:10px;
	width:20%;
	vertical-align:left;
}